<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../folder/reset.css" type="text/css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../ajax/ajax_0.js"></script>
   <title>登陆界面</title>

<body>
   <form action="login.html">
       <label>username:</label>
       <input type="text" name="username" id="username"><br>
       <label>password:</label>
       <input type="text" name="pwd" id="pwd"><br>
       <input id="login_in" type="button" value="log_in">
   </form>

</body>
</html>